# Binaries
plugin-os/plugin-os
plugin-os/plugin-os.exe
plugin-axios-mitigation/plugin-axios-mitigation
plugin-axios-mitigation/plugin-axios-mitigation.exe
*.test

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Build artifacts
bin/
dist/
dist/*

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.ruff_cache/
.pytest_cache/
.mypy_cache/
